name: Test setup-yt-dlp
on:
  push:
    branches:
      - main
    paths:
      - action.yml
      - scripts/**
      - .github/workflows/test.yaml
      - ffmpeg/**
  schedule:
    - cron: '7 11 1 * *'
  workflow_dispatch:
  
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        ffmpeg: [ffmpeg, no-ffmpeg]
        aria2: [aria2, no-aria2]
        ejs-node: [ejs-node, no-ejs-node]
        version: [latest, specified-version]
        nightly: [stable, nightly]
        exclude:
          - os: macos-latest
            ffmpeg: ffmpeg
            
    steps:
      - name: Get yt-dlp penultimate version on Unix-like
        id: penultimate-unix-like
        if: (runner.os == 'Linux' || runner.os == 'macOS') && matrix.version == 'specified-version'
        run: |
          if [[ ${{ matrix.nightly }} == nightly ]]
          then
            echo version=$(gh api repos/yt-dlp/yt-dlp-nightly-builds/releases -q .[1].tag_name) >> $GITHUB_OUTPUT
          else
            echo version=$(gh api repos/yt-dlp/yt-dlp/releases -q .[1].tag_name) >> $GITHUB_OUTPUT
          fi
        env:
          GITHUB_TOKEN: ${{ github.token }}
          
      - name: Get yt-dlp penultimate version on Windows
        id: penultimate-windows
        if: runner.os == 'Windows' && matrix.version == 'specified-version'
        run: |
          if ('${{ matrix.nightly }}' -eq 'nightly') {
            $version = (gh api repos/yt-dlp/yt-dlp-nightly-builds/releases -q .[1].tag_name)
          }
          else {
            $version = (gh api repos/yt-dlp/yt-dlp/releases -q .[1].tag_name)
          }
          Add-Content $env:GITHUB_OUTPUT version=$version
        env:
          GITHUB_TOKEN: ${{ github.token }}
          
      - name: Setup yt-dlp using setup-yt-dlp
        uses: AnimMouse/setup-yt-dlp@main
        with:
          ffmpeg: ${{ matrix.ffmpeg == 'ffmpeg' }}
          aria2: ${{ matrix.aria2 == 'aria2' }}
          ejs-node: ${{ matrix.ejs-node == 'ejs-node' }}
          version: ${{ matrix.version == 'specified-version' && (steps.penultimate-unix-like.outputs.version || steps.penultimate-windows.outputs.version) || matrix.version }}
          nightly: ${{ matrix.nightly == 'nightly' }}
          
      - name: Test yt-dlp-FFmpeg by checking version
        if: matrix.ffmpeg == 'ffmpeg'
        run: ffmpeg -version
        
      - name: Test yt-dlp by checking version
        run: yt-dlp --version
        
      - name: Test yt-dlp config file on Unix-like
        if: (runner.os == 'Linux' || runner.os == 'macOS') && (matrix.aria2 == 'aria2' || matrix.ejs-node == 'ejs-node')
        run: cat ~/.config/yt-dlp/config
        
      - name: Test yt-dlp config file on Windows
        if: runner.os == 'Windows' && (matrix.aria2 == 'aria2' || matrix.ejs-node == 'ejs-node')
        run: Get-Content $env:APPDATA\yt-dlp\config