name: Test setup-yt-dlp/ffmpeg
on:
  push:
    branches:
      - main
    paths:
      - ffmpeg/**
      - .github/workflows/test-ffmpeg.yaml
  schedule:
    - cron: '7 11 1 * *'
  workflow_dispatch:
  
jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        
    steps:
      - name: Setup yt-dlp-FFmpeg using setup-yt-dlp/ffmpeg
        uses: AnimMouse/setup-yt-dlp/ffmpeg@main
        
      - name: Test yt-dlp-FFmpeg by checking version
        run: ffmpeg -version